extends ../layouts/default.pug

block page-header
  h2 Ethereum Form

block content
  form(method='POST')
    .form-group
      label(for='exampleInputEmail1') Ethereum Address
      input#etheriumAddress.form-control(type='text', aria-describedby='helper', name='address',placeholder='Enter Exchange Address' required)
      small#helper.form-text.text-muted Enter Ethereum Address Here
    button.btn.btn-primary(type='submit') Submit
  if (etheriumDetails && etheriumDetails.name)
    .container
      .row
        h3= etheriumDetails.response.body.error     
  else if (etheriumDetails)
    .container
      .row
        .col-xs-12.col-sm-7
          h3 Balance Details for !{etheriumDetails.account}
      .row
        .col-xs-12.col-sm-6
          p Balance
        .col-xs-12.col-sm-6
          p= balance